.featurescard {
  border-top: 4px solid #193825;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-left: 10px;

}
  
  .featurescard__header {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #b9e5ca;
  }
  
  .featurescard__body {
    list-style-type: none;
    padding: 0;
  }
  
  .featurescard__item {
    padding: 10px;
    border-image: linear-gradient(to right, #cb5928, #8fe1afc7) 1;

  /* Ensure the border image is repeated to fill the border */
  border-image-slice: 1;

  /* Set border width */
  border-width: 0 0 1px 0;

  /* Optionally, you can set other border properties */
  border-style: solid;
    width: 92%;
    color: #ffffff;
    
  }
  
