.gallery {
    margin-right: 20px;
    margin-bottom: 20px;
}

.grid {
    column-count: 3;
    column-gap: 10px;
}

.grid-img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;

  border-radius: 6px;
  cursor: pointer;

  break-inside: avoid;
}

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.expanded {
    width: fit-content;
    max-width: 95vw;

    margin: 0 auto;
    margin-top: 60px;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.expanded-img {
    max-width: 90vw;
    max-height: 70vh;

    width: auto;
    height: auto;

    object-fit: contain;
    display: block;
    border-radius: 6px;
}

.image-wrapper {
    margin-left: 50px;
    position: relative;
    display: inline-block;
    line-height: 0;

    transform: scale(1.05);
    transform-origin: center;
    z-index: 2;
}

.image-caption {
    position: relative;
    bottom: 56px;
    left: 0;
    right: 0;

    padding: 10px;

    color: rgba(255, 255, 255, 0.6);
    font-size: 13px;
    line-height: 1.4;

    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;

    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.517),
        rgba(0,0,0,0)
    );

    white-space: pre-line;
}

.spotify-iframe {
    margin-top: -56.8px;
    width: 100%;
    max-width: 90vw;
}

.image-wrapper.no-spotify {
    margin-bottom: 0px;
}