.confidence {
  font-size: 13px;
  color: #53f9a6;
  text-align: center;
}


.image-wrapper {
  position: relative;
  width: 400px; /* Ensure the image fills the container */
}

.image-wrapper img {
  width: 100%; /* Ensure the image fills the container */
}


.object-detection-container {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 20px;
}

.highlighter {
  background: #f97f2d12;
  border: 1px dashed #f97f2d;
  z-index: 1;
  position: absolute;
}

.info {
  position: absolute;
  font-size: 5px;
  color: #53f9a6;
  top: -12px;
}


.input {
  text-align: center;
  margin-top: 30px;
}