.skills {
  border-top: 4px solid #204930;
  border-radius: 3px;
  padding: 20px 0;
  margin: 0 0 20px 10px;
}

.skills__title {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #9de6b9;
}

.skills__category {
  margin-bottom: 10px;
  padding: 10px;
}

.skills__category-title {
  font-size: 16px;
  font-weight: 500;
  color: #d3ffe3;
}

.skills__category-body {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.skills__item {
  padding: 4px;
}

.skills__bar {
  background: rgba(0, 0, 0, 0.884);
  background: linear-gradient(
    90deg,
    rgba(174, 99, 33, 0.67),
    rgba(88, 36, 36, 0.267) 50%,
    #ba6d335d 0,
    rgba(174, 99, 33, 0.125)
  );

  -webkit-clip-path: polygon(
    0 0,
    calc(100% - 10px) 0,
    100% 10px,
    100% 100%,
    10px 100%,
    0 calc(100% - 10px)
  );

  clip-path: polygon(
    0 0,
    calc(100% - 10px) 0,
    100% 10px,
    100% 100%,
    10px 100%,
    0 calc(100% - 10px)
  );

  overflow: hidden;
  padding: 6px 20px;
  position: relative;
  transition: 0.8s;
}

.skills__name {
  color: #f8fffb;
  font-weight: 400;
  position: relative;
  z-index: 25;
}

.skills__line {
  background: #ffffff;
  height: 1px;
  margin-left: 10px;
  position: absolute;
  top: 50%;
}

.skills__loader {
  background: linear-gradient(
    90deg,
    #d0691a,
    #bd7843 50%,
    #95e9b5e7 0,
    #95e9b5e7
  );

  background-size: 200.1%;
  clip-path: polygon(
    0 0,
    calc(100% - 10px) 0,
    100% 10px,
    100% 100%,
    10px 100%,
    0 100%
  );

  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: 0.6s;
}

.skills__bar:hover {
  background-position: 60% 0;
}

.skills__bar:hover .skills__name {
  color: #51240f;
  font-weight: bold;
}

.skills__bar:hover .skills__line {
  background: #51240f;
}

.skills__bar:hover .skills__loader {
  background-position: -100% 0;
}