.spotify-recommendation-tracks {
  margin-right: 20px;
}

.spotify-recommendation-tracks__controls {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.spotify-recommendation-tracks__input {
  background-color: #bbf3d1;
  border-radius: 4px;
  margin-right: 20px;
  margin-left: 10px;
  width: 150px;
  height: 20px;
  border: 0;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
}

.spotify-recommendation-tracks__input-button {
  font-weight: 500;
  --c: #a2f0c0;

  box-shadow: 0 0 0 .1em inset var(--c);
  --_g: linear-gradient(var(--c) 0 0) no-repeat;

  background:
    var(--_g) calc(var(--_p,0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p,0%)) 0%,
    var(--_g) calc(var(--_p,0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p,0%)) 100%;

  background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
  outline-offset: .1em;
  transition: background-size .4s, background-position 0s .4s;
  border-radius: 5px;

  cursor: pointer;
  padding: .16em .6em;
  border: none;
  color: #fff;
  width: 70px;
}

.spotify-recommendation-tracks__input-button:hover {
  --_p: 100%;
  transition: background-position .4s, background-size 0s;
}

.spotify-recommendation-tracks__input-button:active {
  box-shadow: 0 0 9e9q inset rgba(59, 240, 42, 0.6);
  background-color: var(--c);
  color: #fff;
}

.spotify-recommendation-tracks__genres {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.spotify-recommendation-tracks__sliders-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spotify-recommendation-tracks__sliders {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 30px;
  margin-bottom: 20px;
  text-align: left;
}

.spotify-recommendation-tracks__get-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -10px;
  margin-bottom: 50px;
}

.spotify-recommendation-tracks__get-button {
  font-weight: 500;
  --c: #a2f0c0;

  box-shadow: 0 0 0 .1em inset var(--c);
  --_g: linear-gradient(var(--c) 0 0) no-repeat;

  background:
    var(--_g) calc(var(--_p,0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p,0%)) 0%,
    var(--_g) calc(var(--_p,0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p,0%)) 100%;

  background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
  transition: background-size .7s, background-position 0s .7s;
  border-radius: 5px;

  cursor: pointer;
  padding: .16em .6em;
  margin-top: -10px;
  border: none;
  color: #fff;
  width: 100px;
}

.spotify-recommendation-tracks__get-button:hover {
  --_p: 100%;
  transition: background-position .7s, background-size 0s;
}

.spotify-recommendation-tracks__get-button:active {
  box-shadow: 0 0 9e9q inset rgba(59, 240, 42, 0.6);
  background-color: var(--c);
  color: #fff;
}

.spotify-recommendation-tracks__error {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spotify-recommendation-tracks__loading {
  color: #bbf3d1;
  align-items: center;
}

.spotify-recommendation-tracks__artists {
  display: flex;
  flex-direction: column;
}

.spotify-recommendation-tracks__artist {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 16px;
  width: 100%;
}

.spotify-recommendation-tracks__artist-image {
  margin-right: 20px;
  margin-bottom: -15px;

  width: 80px;
  height: 80px;
  border-radius: 50px;
  transition: all 1.75s;
}

.spotify-recommendation-tracks__artist-image:hover {
  transform: rotateZ(360deg);
  transition: all 1.5s;
}

.spotify-recommendation-tracks__artist-details {
  display: flex;
  flex-direction: column;
  margin: 10px 0px 0px;
  font-size: 18px;
  font-weight: 300;
  text-align: left;
}

.spotify-recommendation-tracks__tracks {
  display: flex;
  flex-direction: column;
}

.spotify-recommendation-tracks__track {
  border-bottom: 1px solid #491e07;
  padding-bottom: 4px;
  display: flex;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.spotify-recommendation-tracks__track-image {
  width: 80px;
  height: 80px;
  margin-right: 20px;
  border-radius: 50px;
  transition: all 1.75s;
}

.spotify-recommendation-tracks__track-image:hover {
  transform: rotateZ(360deg);
  transition: all 1.5s;
}

.spotify-recommendation-tracks__track-name {
  font-size: 16px;
}

.spotify-recommendation-tracks__track-artist{
  font-size: 13px;
}