.spotify-recommendation-artists {
  margin-right: 20px;
  padding-bottom: 20px;
}

.spotify-recommendation-artists__input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.spotify-recommendation-artists__input {
  background-color: #bbf3d1;
  border-radius: 4px;
  margin-right: 20px;
  margin-left: 10px;
  width: 150px;
  height: 20px;
  border: 0;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
}

.spotify-recommendation-artists__button {
  width: 70px;
  font-weight: 400;

  --c: #a2f0c0;

  box-shadow: 0 0 0 .1em inset var(--c);
  --_g: linear-gradient(var(--c) 0 0) no-repeat;

  background:
    var(--_g) calc(var(--_p,0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p,0%)) 0%,
    var(--_g) calc(var(--_p,0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p,0%)) 100%;

  background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
  outline-offset: .1em;
  transition: background-size .4s, background-position 0s .4s;

  border-radius: 5px;
  cursor: pointer;

  padding: .12em .6em;
  border: none;
  color: #fff;
}

.spotify-recommendation-artists__button:hover {
  --_p: 100%;
  transition: background-position .4s, background-size 0s;
}

.spotify-recommendation-artists__button:active {
  box-shadow: 0 0 9e9q inset rgba(59, 240, 42, 0.6);
  background-color: var(--c);
  color: #fff;
}

.spotify-recommendation-artists__list {
  display: flex;
  flex-direction: column;
}

.spotify-recommendation-artists__artist {
  padding-top: 10px;
  padding-bottom: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.spotify-recommendation-artists__items {
  border-bottom: 1px solid #491e07;
  padding-bottom: 4px;
  display: flex;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.spotify-recommendation-artists__image {
  width: 80px;
  height: 80px;
  margin-right: 20px;

  border-radius: 50px;
  transition: all 1s;
}

.spotify-recommendation-artists__image:hover {
  transform: rotateZ(-360deg);
  transition: all 1.5s;
}

.spotify-recommendation-artists__name p {
  font-size: 16px;
  font-weight: 200;
  margin: 0;
}
