

.section-container {
    display: flex;
    justify-content: center;
}

.section-container p {
    margin: 0 10px;
    cursor: pointer;
}

.active{
    transition: 1s;
    transform: scale(1.1);
    color: #bbf3d0;
    text-shadow: 0 0 3px #35efe9;
  }
  
  .active:hover::before {
    transform: scale(0);
    /*box-shadow: 0 0 0px #60f4a0; */
  }
  /*
  .active:hover {
    color: #bbf3d0;
    transition: .6s;
    text-shadow: 0 0 5px #35efe9;
  } */

.manga-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Responsive grid with minimum width of 200px */
    grid-gap: 20px; /* Spacing between grid items */
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.manga {
    position: relative; /* Enable relative positioning for the image */
}

.manga img {
    width: 100%; /* Ensure the image fills the container */
    height: auto; /* Maintain aspect ratio */
    display: block;
    border-radius: 5px; /* Optional: Add border-radius for rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add shadow effect */
    transition: transform 0.2s ease; /* Optional: Add transition effect */
}


.manga img:hover {
    transform: scale(1.05);
    box-shadow:inset 0 0 1px #def
}
